<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" th:action="@{/admin/movie/add}">
    <button type="submit">Add movie</button>
</form>
<div th:if="${movie.isEmpty()}">
    <p>No Movies</p>
</div>
<div th:if="${!movie.isEmpty()}">
    <div th:each="mm : ${movie}">
        <a th:href="@{/admin/movie/{id}(id=${mm.getId()})}"><p th:text="${mm.getName()}">text</p></a>
    </div>
</div>
</body>
</html>