<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/update}" th:object="${person}">

    <input type="hidden" th:field="*{password}"/>

    <label for="username">: Username </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="email">email </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>


    <input type="submit" value="Редактировать!"/>
</form>
</body>
</html>