<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<main class="main-container">
<form th:method="PATCH" th:action="@{/update}" th:object="${person}" class="sign-form">


    <input type="text" th:field="*{email}" id="email" placeholder="EMAIL"/>
    <br/>

    <!--    <label for="username">: Username </label>-->
    <input type="text" th:field="*{username}" id="username" placeholder="USERNAME"/>
    <br/>

    <input type="password" th:field="*{password}"/>
<!--    <label for="email">email </label>-->

    <button type="submit">EDIT</button>
<!--    <input type="submit" value="Редактировать!"/>-->
</form>
</main>
</body>
</html>