<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <p th:text="${user.getUsername()}">username</p>
    <p th:text="${user.getEmail()}">username</p>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="logout">
    </form>
    <form th:action="@{/edit}" th:method="GET">
        <input type="submit" th:action="@{/edit}" value="edit">
    </form>
    <div th:each="s : ${ticket}">
        <form th:method="DELETE" th:action="@{/profile/ticket/{id}/delete(id=${s.id})}">
            <p th:text="${s.id}"></p>
            <input type="submit" value="Delete">
        </form>
    </div>
</body>
</html>