<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Hall</title>
</head>
<body>
<form method="get" th:action="@{/admin/hall/add}">
    <button type="submit">Add hall</button>
</form>
<div th:if="${hall.isEmpty()}">
    <p>No Halls</p>
</div>
<div th:if="${!hall.isEmpty()}">
    <div th:each="mm : ${hall}">
        <a th:href="@{/admin/hall/{id}(id=${mm.getId()})}"><p th:text="${'Hall ' + mm.getId()}">text</p></a>
    </div>
</div>
</body>
</html>